
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Center the post containers */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Style for individual posts */
.post-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: 80%;
    max-width: 700px; /* adjust max width as needed */
    border-radius: 10px;
}

/* Heading of the post */
.post-title {
    font-size: 1.5em;
    color: #004d99;
    margin-bottom: 10px;
}

/* Metadata for the post, like date or author */
.post-meta {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
}

/* Content of the post */
.post-content {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 15px;
}

header {
    color: #fff;
    padding: 10px 20px;
}

nav {
    background-color: #000; 
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

nav ul li {
    margin-right: 20px; 
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


