<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MMA Blog</title>
</head>
<body>
    <nav>
        <!-- Qui inserisci la navbar -->
    </nav>
    <h1>MMA Blog Posts</h1>
    <a href="{{ url_for('add_post') }}">Add a New Post</a>
    <div>
        {% for post in posts %}
            <div>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
                <a href="{{ url_for('post', post_id=post.id) }}">Read Comments</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>
