<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>


    <header>
        <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('add_post') }}">Add Post</a></li>
                    <!-- Il resto dei tuoi link qui -->
                    <li><a href="{{ url_for('login') }}" class="login-button">Login</a></li>
                </ul>
            </nav>
    </header>
    
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <h2>Comments</h2>
    <form action="{{ url_for('add_comment', post_id=post.id) }}" method="POST"></form>
        <textarea name="comment" required></textarea>
        <button type="submit">Add Comment</button>
    </form>
    <div>
        {% for comment in comments %}
            <div>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
